<% content_for :head do %>
    <style>
      thead input {
          width: 100%;
          padding: 3px;
          box-sizing: border-box;
      }
  </style>
<% end %>

<h2 style="margin-top: 100px;" class="mx-5">Reservations</h2>
<div class="p-lg-5">
    <table id="example" class="table table-striped table-bordered text-center" cellspacing="0">
        <thead>
            <tr>
                <th><span class="d-flex flex-column align-items-center">Classrooms</span></th>
                <th><span class="d-flex flex-column align-items-center">Locations</span></th>
                <th><span class="d-flex flex-column align-items-center">Days</span></th>
                <th><span class="d-flex flex-column align-items-center">Hourlies</span></th>
                <th style="text-align:center;min-width: 100px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        <% @reservations.each do |reservation| %>
            <tr>
                <td><%= reservation.room.name %></td>
                <td><%= reservation.room.location %></td>
                <td><%= reservation.hourly.day %></td>
                <td><%= reservation.hourly.time_slot %></td>
                <td>
                    <%= link_to "Cancel", new_reservations_path(reservation), method: :delete, class: "btn btn-danger" %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>